In [1]:
import requests
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup splinter

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\ccrom\.wdm\drivers\chromedriver\win32\99.0.4844.51]

## NASA MARS NEWS

In [3]:
# URL to visit
url = 'https://redplanetscience.com/'
browser.visit(url)

# Scrape the latest News Title & Paragraph Text 
html = browser.html
soup = bs(html, 'html.parser')

news_title = soup.find('div', class_='content_title').text

news_p = soup.find('div', class_='article_teaser_body').text

print(f"Title: {news_title}")
print(f"Article: {news_p}")

# # # Quit browser once scraping is complete
# browser.quit()

Title: New Selfie Shows Curiosity, the Mars Chemist
Article: The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.

## JPL Mars Space Image

In [4]:
# Visit new site to find image jpg. for feature image
url = 'https://spaceimages-mars.com'
browser.visit(url)

# Scrape site for featured image jpg.
html = browser.html
soup = bs(html, 'html.parser')

results = soup.find_all('div', class_= 'floating_text_area')

for result in results:
    link = result.a['href']
    featured_image_url = f'https://spaceimages-mars.com/{link}'

    print(featured_image_url)
    
# browser.links.find_by_partial_text('FULL IMAGE').click()

image/featured/mars3.jpg
https://spaceimages-mars.com/image/featured/mars3.jpg

## Mars Facts

In [6]:
# Use pandas to scrape table from url
url = 'https://galaxyfacts-mars.com'

# read in tables, and print them
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [8]:
# Index into list to see the tables we have: Mars & Earth Comparison
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [9]:
# Index into second list item where we have Mars facts only (I prefer this one)
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
# Save desired table to Variable df 
df = tables[1]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
# Saving desired table to html and not including the header or index
df.to_html('marsfact_table.html', header = False, index = False, classes= 'table')

## Mars Hemispheres

In [ ]:
# Visit new site to find image jpg. for feature image
url = 'https://marshemispheres.com/'
browser.visit(url)

# Scrape site for featured image jpg.
html = browser.html
soup = bs(html, 'html.parser')

results = soup.find_all('div', class_= 'floating_text_area')

for result in results:
    link = result.a['href']
    featured_image_url = f'https://spaceimages-mars.com/{link}'

    print(featured_image_url)

In [15]:
# # Quit browser once scraping is complete
browser.quit()